<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
	
	 <listeners>
	    <listener class-name="com.automation.utilities.TestListener"/>
        <listener class-name="com.automation.utilities.RetryTransformer"/>
    </listeners>
	<test name="Regression Tests">
		<classes>
			<class name="com.automation.tests.LoginTest"/>
			<class name="com.automation.tests.InvalidLoginTest"/>
            <class name="com.automation.tests.AddToCartTest"/>
            <class name="com.automation.tests.RemoveFromCartTest"/>
            <class name="com.automation.tests.LogoutTest"/>
            <class name="com.automation.tests.CheckoutTest"/>
		</classes>
	</test>
</suite>